h2 {
    font-size: 16px;
}
#header {
    padding: 10px 0;
    color: #FFF;
    background-color: #222;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    font-size: 26px;
}
#logo, #logo a, #logo a:hover {
    float: right;
    color: black;
    text-decoration: none;
    text-shadow: 0 1px 0 
    rgba(255, 255, 255, .1), 0 0 30px 
    rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
#login {
    font-size: 14px;
}
#content {
    margin-top: 20px;
}
.no-margin-left {
    margin-left: 0;
}
.clear {
    display: block;
}
.clear::after {
    display: table;
    clear: both;
    content: "";
    zoom: 1;
}
#myModal {
    display: none;
}
/* list of stuuf to raking */
.ranking-list {

}
.ranking-list li {
    text-align: center;
    list-style: none;
}
.ranking-list img {
    margin: 0 auto;
    display: block;
}